---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import * as CONFIG from "../config";
import type { MarkdownHeading } from "astro";
import "./SnippetPageLayout.css";

type Props = {
  frontmatter?: CONFIG.Frontmatter;
  headings?: MarkdownHeading[];
};

const { frontmatter, headings } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
---

<html dir={frontmatter?.dir ?? "ltr"} lang={frontmatter?.lang ?? "en-us"} class="initial">
  <HeadCommon />
  <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
  <title>
    {frontmatter?.title ? `${frontmatter.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}
  </title>

  <body class="w-full max-w-[1300px] mx-auto px-4">
    <Header currentPage={currentPage} />
    <main class="grid grid-cols-[20%_60%_20%] py-10">
      <LeftSidebar />
      <article id="article" class="px-8">
        <slot />
      </article>
      <RightSidebar headings={headings} githubEditUrl="https://github.com/Junior-room/code-pasta" />
    </main>
    <Footer />

    <script>
      const clipboardIcon = `
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0013.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 01-.75.75H9a.75.75 0 01-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 01-2.25 2.25H6.75A2.25 2.25 0 014.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 011.927-.184" />
        </svg>
      `;
      function addCopyToClipboardButtonsToMarkdownCodeElems() {
        const codeElements = document.querySelectorAll("code");
        codeElements.forEach((codeElem) => {
          const codeParent = codeElem.parentElement;
          const article = document.querySelector("article");
          const wrapper = document.createElement("div");
          wrapper.classList.add("relative");
          article.insertBefore(wrapper, codeParent);
          wrapper.appendChild(codeParent);

          const copyButton = document.createElement("button");
          copyButton.classList.add("absolute", "top-1", "right-1", "p-1", "rounded-md");
          copyButton.title = "Copy snippet to clipboard";
          copyButton.innerHTML = clipboardIcon;
          copyButton.onclick = async () => {
            try {
              await navigator.clipboard.writeText(codeElem.innerText);
              copyButton.innerHTML = "Copied!";
              setTimeout(() => (copyButton.innerHTML = clipboardIcon), 5000);
            } catch {}
          };

          wrapper.appendChild(copyButton);
        });
      }
      addCopyToClipboardButtonsToMarkdownCodeElems();
    </script>
  </body>
</html>
